<!--
File name: footer.ejs
Author: Alex Andriishyn
Website: http://alexandriishyn.azurewebsites.net/
File description: footer partial view
-->
<footer class="footer">
                <div class="btn-group">
                    <a class="btn btn-social-icon btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-google" href="#"><i class="fa fa-google"></i></a>
                    <a class="btn btn-social-icon btn-github" href="#"><i class="fa fa-github"></i></a>
                </div>
            </footer>
        </div>
    </body>
</html>