</div>
<div class="container">
  <div class="navbar navbar-fixed-bottom">
    <footer class="footer">
      <div class="btn-group">
        <a class="btn btn-social-icon btn-facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a>
        <a class="btn btn-social-icon btn-twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a>
        <a class="btn btn-social-icon btn-linkedin" href="#"><i class="fa fa-linkedin fa-lg"></i></a>
        <a class="btn btn-social-icon btn-google" href="#"><i class="fa fa-google fa-lg"></i></a>
        <a class="btn btn-social-icon btn-github" href="#"><i class="fa fa-github fa-lg"></i></a>
      </div>
      <div class="">
        <span class="glyphicon glyphicon-copyright-mark"></span>
        <small id="cpright">Alex Andriishyn, </small>
      </div>
    </footer>
  </div>
</div>
