<!--
File name: error.ejs
Author: Alex Andriishyn
Website: http://alexandriishyn.azurewebsites.net/
File description: error view
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
