<!--
File name: projects.ejs
Author: Alex Andriishyn
Website: http://alexandriishyn.azurewebsites.net/
File description: projects page view
-->
<%- include partials/header.ejs %>
<div class="content">
  <div class="row">
    <div class="col-md-6">
        <img src="charitycan.gif">
        <p class="lead">Currently employed as a part-time web-developer for Third Sector Publishing</p>
        <p>Planning and implementing upgrades to the existing client managing backend system.
          Designing and implementing/improving performance of MSSQL stored procedures.
          Adding the on-screen sorting and virtual paging in tables.
          Client/server side input validation. Working with web APIs.</p>
      </a>
    </div>
    <div class="col-md-6">
      <img src="charitycan.gif">
      <p class="lead">Currently employed as a part-time web-developer for Third Sector Publishing</p>
      <p>Planning and implementing upgrades to the existing client managing backend system.
        Designing and implementing/improving performance of MSSQL stored procedures.
        Adding the on-screen sorting and virtual paging in tables.
        Client/server side input validation. Working with web APIs.</p>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>
