<!--
File name: services.ejs
Author: Alex Andriishyn
Website: http://alexandriishyn.azurewebsites.net/
File description: services page view
-->
<%- include partials/header.ejs %>
<div class="content">
  <div class="row">
      <div class="col-md-4">
          <img src="aspdotnet.png">
          <p>Microsoft ASP.NET platform, MVC pattern</p>
      </div>
      <div class="col-md-4">
          <img src="java.png">
          <p>Java EE, JSP</p>
      </div>
      <div class="col-md-4">
          <img src="sql.jpg">
          <p>SQL query design, performance optimization. IBM DB2, MySQL, MSSQL servers.</p>
      </div>
  </div>
</div>
<%- include partials/footer_navbar.ejs %>
<%- include partials/footer.ejs %>
