/*
    File name: styles.css
    Author: Alex Andriishyn
    Website: http://alexandriishyn.azurewebsites.net/
    File description: custom css styles
*/

body {
    padding: 25px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/* Footer */
.copyright {
    float: right;
}

/* Common containers */
.container {
    text-align: center;
}

/* Navigation */
.navigation {
    margin-bottom: 10px;
}

/* Border for debugging CSS */
.border_red {
    border: 2px solid red
}

/* Contact me page styles */
textarea {
    resize: none;
}

