/*
File name: styles.css
Author: Alex Andriishyn
Website: http://alexandriishyn.azurewebsites.net/
File description: custom css styles
*/

/* Navigation */
.navigation {
  margin-bottom: 10px;
}

a {
  color: #00B7FF;
}

/* Footer */
footer {
  background-color: white;
}

.copyright {
  float: right;
}

/* Contact me page styles */
textarea {
  resize: none;
}

/* Common containers */
body {
  margin: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  text-align: center;
  margin-bottom: 15px;
}

.content {
  text-align: center;
}

/* Overriden bootstrap classes */
.panel-body {
  text-align: left;
}
