/*
File name: styles.css
Author: Alex Andriishyn
Website: http://alexandriishyn.azurewebsites.net/
File description: custom css styles
*/

/* Navigation */
.navigation {
  margin-bottom: 10px;
}

a {
  color: #00B7FF;
}

/* Footer */
.copyright {
  float: right;
}

/* Contact me page styles */
textarea {
  resize: none;
}

/* Common containers */
body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  text-align: center;
}
